<!-- <owl-carousel #owlCarousel
     [options]=item
     [carouselClasses]="['owl-theme', 'sliding']">
     <div class="carousel-card">test1</div>
     <div class="carousel-card">test2</div>
     <div class="carousel-card">test3</div>
     <div class="carousel-card">test4</div>
     <div class="carousel-card">test5</div>
     <div class="carousel-card">test6</div>
 </owl-carousel>
  -->
 <div class="owl-carousel">
  <div class="carousel-card">
    <div class="row">
      <div class="col-md-12 image-center" style="margin-top: 51px;">
        <img src="../../../assets/image/placeholder1.png"  alt="">
      </div>
      <div class="col-md-12" style="margin-top: 51px;">
        <p class="header-text text-center">Get a device</p>
      </div>
      <div class="col-md-12" style="margin-top: 10px;">
        <p class="subtext text-center">START HERE  ></p>
      </div>
    </div>
  </div>
  <div class="carousel-card">
    <div class="row">
      <div class="col-md-12 image-center" style="margin-top: 51px;">
        <img src="../../../assets/image/placeholder1.png"  alt="">
      </div>
      <div class="col-md-12" style="margin-top: 51px;">
        <p class="header-text text-center">Mobile internet</p>
      </div>
    </div>
  </div>
  <div class="carousel-card"><div class="row">
    <div class="col-md-12 image-center" style="margin-top: 51px;">
      <img src="../../../assets/image/placeholder1.png"  alt="">
    </div>
    <div class="col-md-12" style="margin-top: 51px;">
      <p class="header-text text-center">Home internet</p>
    </div>
  </div></div>
  <div class="carousel-card"><div class="row">
    <div class="col-md-12 image-center" style="margin-top: 51px;">
      <img src="../../../assets/image/placeholder1.png"  alt="">
    </div>
    <div class="col-md-12" style="margin-top: 51px;">
      <p class="header-text text-center">Add a phone-line</p>
    </div>
  </div></div>
  <div class="carousel-card"><div class="row">
    <div class="col-md-12 image-center" style="margin-top: 51px;">
      <img src="../../../assets/image/placeholder1.png"  alt="">
    </div>
    <div class="col-md-12" style="margin-top: 51px;">
      <p class="header-text text-center">Upgrade</p>
    </div>
  </div></div>
  <div class="carousel-card"><div class="row">
    <div class="col-md-12 image-center" style="margin-top: 51px;">
      <img src="../../../assets/image/placeholder1.png"  alt="">
    </div>
    <div class="col-md-12" style="margin-top: 51px;">
      <p class="header-text text-center">Consult </p>
    </div>
  </div></div>
</div>

<!-- <div class="owl-carousel owl-theme owl-loaded">
  <div class="owl-stage-outer">
      <div class="owl-stage">
          <div class="owl-item">...</div>
          <div class="owl-item">...</div>
          <div class="owl-item">...</div>
      </div>
  </div>
  <div class="owl-nav">
      <div class="owl-prev">prev</div>
      <div class="owl-next">next</div>
  </div>
</div> -->

<!-- <div class="container">
  <div class="owl-carousel">
    <div><img src="//placehold.it/400x300/f06/fff/?text=1" alt=""></div>
    <div><img src="//placehold.it/400x300/f63/fff/?text=2" alt=""></div>
    <div><img src="//placehold.it/400x300/fc3/fff/?text=3" alt=""></div>
    <div><img src="//placehold.it/400x300/693/fff/?text=4" alt=""></div>
    <div><img src="//placehold.it/400x300/3cc/fff/?text=5" alt=""></div>
    <div><img src="//placehold.it/400x300/369/fff/?text=6" alt=""></div>
    <div><img src="//placehold.it/400x300/936/fff/?text=7" alt=""></div>
  </div>
</div> -->