.carousel-card{
  height: 450px;
  width: 100%;
  border-radius: 16px 16px 12px 12px;
  background: linear-gradient(180deg,#FFFFFF,#EBEBEB);
  border-bottom: 2px solid rgba(150,150,150,0.08);
  // transform:scale(.8);
}

.carousel-card:hover{
  background: linear-gradient(180deg, #373737, #191919);
  color: #F5F5F5;
  .header-text{
    color: #F5F5F5;
  }
  .subtext{
    color: #F5F5F5;
  }
}

  .image-center img {
    width: 160px;
    height: 160px;
    margin: auto;    
    display: block;
}

.owl-carousel .owl-item.big div {background:#ac0000 !important;}
.owl-carousel .owl-item.medium div {background:#dd0000 !important;}


  


