 <div class="owl-carousel">
  <div class="carousel-card " *ngFor="let item of data">
    <div class="row">
      <div class="col-md-12 image-center" style="margin-top: 51px;">
        <img src="../../../CarouselTest/assets/image/placeholder1.png">
      </div>
      <div class="col-md-12" style="margin-top: 51px;">
        <p class="header-text text-center">{{item.title}}</p>
      </div>
      <div class="col-md-12 " style="margin-top: 10px"  >
        <p class="subtext text-center" [ngClass]="item.active == true ? '' : 'hide-start'"  [routerLink]="[item.link]">START HERE  >  </p>
      </div>
    </div>
  </div>
  