 <div class="owl-carousel">
  <div class="carousel-card">
    <div class="row">
      <div class="col-md-12 image-center" style="margin-top: 51px;">
        <img src="../../../assets/image/placeholder1.png"  alt="">
      </div>
      <div class="col-md-12" style="margin-top: 51px;">
        <p class="header-text text-center">Get a device</p>
      </div>
      <div class="col-md-12" style="margin-top: 10px;">
        <p class="subtext text-center">START HERE  ></p>
      </div>
    </div>
  </div>
  <div class="carousel-card">
    <div class="row">
      <div class="col-md-12 image-center" style="margin-top: 51px;">
        <img src="../../../assets/image/placeholder1.png"  alt="">
      </div>
      <div class="col-md-12" style="margin-top: 51px;">
        <p class="header-text text-center">Mobile internet</p>
      </div>
    </div>
  </div>
  <div class="carousel-card"><div class="row">
    <div class="col-md-12 image-center" style="margin-top: 51px;">
      <img src="../../../assets/image/placeholder1.png"  alt="">
    </div>
    <div class="col-md-12" style="margin-top: 51px;">
      <p class="header-text text-center">Home internet</p>
    </div>
  </div></div>
  <div class="carousel-card"><div class="row">
    <div class="col-md-12 image-center" style="margin-top: 51px;">
      <img src="../../../assets/image/placeholder1.png"  alt="">
    </div>
    <div class="col-md-12" style="margin-top: 51px;">
      <p class="header-text text-center">Add a phone-line</p>
    </div>
  </div></div>
  <div class="carousel-card"><div class="row">
    <div class="col-md-12 image-center" style="margin-top: 51px;">
      <img src="../../../assets/image/placeholder1.png"  alt="">
    </div>
    <div class="col-md-12" style="margin-top: 51px;">
      <p class="header-text text-center">Upgrade</p>
    </div>
  </div></div>
  <div class="carousel-card"><div class="row">
    <div class="col-md-12 image-center" style="margin-top: 51px;">
      <img src="../../../assets/image/placeholder1.png"  alt="">
    </div>
    <div class="col-md-12" style="margin-top: 51px;">
      <p class="header-text text-center">Consult </p>
    </div>
  </div></div>
</div>
