<app-progressive [progress]=15 [total]=100></app-progressive>
<div class="container-fluid ">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-lg-12 ">
            <app-header></app-header>
        </div>
        <div class="col-md-12 mt-4 carousel-container">
            <div class="row">
                <div class="col-md-12">
                    <div class="custom-message">
                        <p class="regular">What are you</p>
                        <p class="semibold">here to do?</p>
                    </div>
                    <app-carousel></app-carousel>
                </div>
            </div> 
        </div>
    </div>
</div>
